/*---------FONTS---------*/
@font-face {
    font-family: 'distant_galaxyregular';
    src: url('fonts/web-fonts/distantgalaxy_regular_macroman/DISTGRG_-webfont.eot');
    src: url('fonts/web-fonts/distantgalaxy_regular_macroman/DISTGRG_-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/web-fonts/distantgalaxy_regular_macroman/DISTGRG_-webfont.woff') format('woff'),
         url('fonts/web-fonts/distantgalaxy_regular_macroman/DISTGRG_-webfont.ttf') format('truetype'),
         url('fonts/web-fonts/distantgalaxy_regular_macroman/DISTGRG_-webfont.svg#distant_galaxyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*---------GENERAL---------*/
body {
  font-size: 1em;
  margin: -1px;
}
.container {
  max-width: 1000px;
}
/*---------HEADER---------*/
.header {
  background-image: url("images/darth_vader.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 8em;
  width: 100%;
  font-family: 'distant_galaxyregular';
  letter-spacing: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  top: 0;
  z-index: 1;
}
#playNowButton {
  display: none;
}
.header h1 {
  margin: 0;
  font-size: 1em;
  color: yellow;
  margin-left: 25px;
  margin-top: 50px;
}
.header h3 {
  color: #F2DCC2;
  font-size: 0.7em;
  margin-left: 25px;
}
/*---------GAME OVER MODAL---------*/
#modal {
  background-color: #F2EAE4;
  font-size: 0.5em;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  /*This puts our modal in front of the body (which has a default z-index of `0`)*/
  overflow: auto;
  /*If overflow is clipped, a scroll-bar should be added to see the rest of the content */
  display: none;
}
#modal-textbox {
  background-color: #DFF2EF;
  height: 60%;
  width: 75%;
  border-radius: 2px;
  margin: 100px 30px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}
#modal-textbox h1 {
  color: #F28907;
}
#modal-textbox h2 {
  color: #733702;
}
#modal-textbox h3 {

}
#correct {
  color: #388C35;
}
#incorrect {
  color: #400308;
}
#rank {
  color: #F28907;
}
#message {
  color: #733702;
}
.close {
  color: #400308;
  text-decoration: none;
}
/*-------INSTRUCTIONS MODAL---------*/
#instructionsModal {
  background-color: #F2EAE4;
  font-size: 0.5em;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}
#instructionsText {
  width: 50%;
  border-radius: 2px;
  margin: 150px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
/*---------MAIN---------*/
.main {
  text-align: center;
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("images/stars.png");
  background-size: cover;
  background-repeat: repeat;
  color: black;
  font-family: 'distant_galaxyregular';
  font-size: 2em;
  transform: translateY(120px)
}
#startGameButton {
  font-size: 0.7em;
  background-color: #F2CA80;
  color: #0477BF;
}
#difficulty button {
  margin: 10px;
  width: 100px;
  font-size: 0.5em;
  background-color: whitesmoke;
  color: #0477BF;
}
#questionButton {
  font-size: 0.7em;
  background-color: #DFF2EF;
  color: #733702;
}
#answerText1, #answerText2, #answerText3, #answerText4 {
  color: yellow;
  font-size: 0.5em;
}
#instructions {
  margin-top: 2em;
  font-size: 0.7em;
  background-color: rgba(191, 91, 3, 0.5);
  color: yellow;
  margin-bottom: 1em;
}
input[type=radio] {
  height: 1.5em;
  width: 1.5em;
}
form {
  width: 100%;
}
.questionText {
  margin: 10px auto;
  font-size: 0.75em;
}
#submitAnswer {
  font-size: 0.75em;
  background-color: #388C35;
  color: #F2CA80;
  margin-top: 1em;
  margin-bottom: 2em;
}
.answerArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1em;
  margin-left: 0.5em;
}
form p {
  font-size: 0.6em;
  align-items: flex-start;
  color: #F2DCC2;
}
.counter {
  font-size: 0.6em;
  color: #DFF2EF;
}
.randomQuestionArea {
  display: flex;
  flex-direction: column;
  height: 5em;
  width: 100%;
  color: #DFF2EF;
}
dt {
  display: none;
}
/*--------FOOTER------*/
.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  height: 2.5em;
  background-color: #F2DCC2;
}
.footer img {
  margin: 0 5px;
  height: 1.5em;
  width: 1.5em;
}
/*-----Sizes beyond mobile size up to 1000px------*/
@media (min-width: 600px){
  .header {
    width: 100%;
    height: 20em;
    position: relative;
  }
  #playNowButton {
    display: none;
  }
  .header h1 {
    font-size: 3em;
    margin-left: 2.5em;
    margin-top: 1.5em;
  }
  .header h3 {
    font-size: 2em;
    margin-left: 6em;
  }
  .main {
    width: 100%;
    height: 40em;
    transform: translateY(-50px);
  }
  .questionText {
    font-size: 1.25em;
  }
  #answerText1, #answerText2, #answerText3, #answerText4 {
    font-size: 1.25em;
  }
  #instructions {
    font-size: 1em;
    margin-bottom: 1em;
  }
  #startGameButton {
    font-size: 1em;
    margin-top: -1em;
  }
  #difficulty button {
    font-size: 1em;
    margin: 0.5em;
    width: 5em;
  }
  #questionButton {
    font-size: 1em;
  }
  form p {
    font-size: 1em;
  }
  input[type=radio] {
    margin: 1em;
    height: 1.5em;
    width: 1.5em;
  }
  #submitAnswer {
    font-size: 1.5em;
  }
  .triviaArea {
    height: 100%;
  }
  .footer {
    position: fixed;
    bottom: 0;
  }
}
/*----Sizes beyond 1000 px width----*/
@media (min-width: 1000px){
  body {
    display: flex;
    flex-direction: column;
    background-image: url("images/stars.png");
  }
  .header {
    width: 200%;
    height: 50em;
    align-items: flex-start;
  }
  .header h1 {
    font-size: 4em;
    margin-left: 5em;
  }
  .header h3 {
    margin-left: 10em;
  }
  #playNowButton {
    display: block;
    font-size: 2em;
    margin-left: 10em;
    margin-bottom: 6em;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    color: #F2CA80;
  }
  .main {
    margin-top: 9em;
    margin-left: 9em;
    align-items: center;
    justify-content: center;
  }
  .footer {
    display: flex;
    justify-content: center;
    font-size: 1em;
  }
  .footer img {
    margin: 10px 25px;
  }
}
