@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lateef&display=swap');

body {
  overflow: auto;
  margin: -1px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 10px double black;
  background-color: whitesmoke;
}
.header h1 {
  margin-left: 50px;
  font-size: 1.2em;
  font-family: 'IBM Plex Mono', monospace;
}
.header nav {
  display: flex;
  padding: 25px;
  margin-right: 25px;
}
#abtLnk, #prtflLnk, #cntctLnk, #hireLnk {
  font-size: 1.1em;
  margin: 5px 10px;
}
#abtLnk > a, #prtflLnk > a, #cntctLnk > a {
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  color: maroon;
}
#hireLnk > a {
  font-family: 'IBM Plex Mono', monospace;
  color: cornflowerblue;
}
.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: whitesmoke;
}
article {
  text-align: justify;
  margin: 30px;
}
.home {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: cornflowerblue;
  font-family: 'IBM Plex Mono', monospace;
}
#bnrHead {
  font-family: 'Lateef', cursive;
  font-size: 1.1em;
  background-image: url('https://cdn.pixabay.com/photo/2017/06/21/07/33/background-2426328_960_720.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 200px;
  color: lightblue;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.secondCont {
  display: flex;
  justify-content: center;
  transform: translateY(-50px);
}
.projectStats {
  display: flex;
  flex-wrap: wrap;
  background-color: #404040;
  height: 300px;
  width: 80%;
  border: 1px solid gray;
  justify-content: center;
}
.projectStats img {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  margin: 10px 25px;
}
.projectStats p > a {
  text-decoration: none;
  color: lightblue;
}
.projectStats p {
  margin-top: 25px;
  margin-left: 25px;
  font-size: 1.1em;
  color: whitesmoke;
}
.statsCont {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
#scssStats, #strtupStats, #lngStats {
  display: flex;
  color: lightblue;
  font-size: 0.9em;
  margin: 5px;
}
.line {
  border: 1px solid whitesmoke;
  height: 8em;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.listItem {
  list-style: none;
  margin: 20px;
}
.listItem img {
  height: 150px;
  width: 300px;
}
.projectBox {
  height: 500px;
  width: 300px;
  border: 1px solid gray;
  background-color: darkgray;
}
.projectBox a {
  text-decoration: none;
  color: #404040;
}
.wrkCont {
  margin-bottom: 300px;
  font-family: 'Lateef', cursive;
  font-size: 2.5em;
}
.wrkCont h2 {
  color: #404040;
}
.workBtn {
  font-size: 1.25em;
  width: 250px;
  border: 2px solid black;
  border-style: outset;
  font-family: 'Lateef', cursive;
}
.footer {
  display: flex;
  border-top: 5px double black;
  background-color: #404040;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer img {
  margin: 10px 25px;
  width: 25px;
  height: 25px;
}
form {
  display: flex;
  flex-direction: column;
  margin: 50px 100px;
}
.form {
  display: flex;
  justify-content: center;
  background-color: #404040;
}
.formDisplay > input {
  font-size: 0.95em;
  margin: 20px 0;
  max-width: 350px;
}
.dropdown {
  max-width: 350px;
  font-size: 1.1em;
}
@media (min-width: 700px) {
  #bnrHead {
    font-size: 1.2em;
    height: 300px;
  }
  .projectStats p {
    font-size: 1.2em;
  }
  #scssStats, #strtupStats, #lngStats {
    display: flex;
    color: lightblue;
    font-size: 1em;
    margin: 5px;
  }
  .line {
    border: 1px solid whitesmoke;
    height: 8em;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .listItem {
    list-style: none;
    margin: 20px;
  }
  .listItem img {
    height: 100px;
    width: 200px;
  }
  .projectBox {
    height: 400px;
    width: 200px;
  }
  .projectBox p {
    font-size: 0.8em;
  }
  .projectBox a {
    text-decoration: none;
    color: #404040;
  }
  .wrkCont {
    margin-bottom: 300px;
    font-family: 'Lateef', cursive;
    font-size: 2.5em;
  }
  .wrkCont h2 {
    color: #404040;
  }
  .workBtn {
    font-size: 1.25em;
    width: 250px;
    border: 2px solid black;
    border-style: outset;
    font-family: 'Lateef', cursive;
  }
  .footer {
    display: flex;
    border-top: 5px double black;
    background-color: #404040;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .footer img {
    margin: 10px 25px;
  }
  @media (min-width: 1000px) {
    #bnrHead {
      font-size: 1.3em;
      height: 300px;
    }
    .projectStats {
      display: flex;
      width: 45%;
    }
    .projectStats p {
      font-size: 1.3em;
    }
    #scssStats, #strtupStats, #lngStats {
      font-size: 1.3em;
      margin: 5px;
    }
    .projectBox {
      height: 500px;
      width: 300px;
    }
    .listItem img {
      height: 200px;
      width: 300px;
      border-bottom: 5px solid black;
    }
    .listItem a {
      color: darkblue;
    }
  }
}
