
main {
    /*background-color: #242121;*/
    background-color: #40241E;
}
#call-to-action {
    background: rgb(0,0,0);
    margin: 0 auto;
    color: whitesmoke;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(57,36,36,1) 100%);
}
#header-box {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(57,36,36,1) 100%);
}
#contact-btn {
    border-color: whitesmoke;
    color:  rgb(211, 200, 200);
}
#frontend-grab, #custom-grab {
    float: right;
}
#backend-grab {
    float: left;
}
/*ViewPorts or Screensizes beyond Mobile*/
@media (min-width: 325px){
    #backend-grab {
        float: right;
    }
}