<!doctype html>
<html lang="en">
<head>
    <title>Page Does Not Yet Exist</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Goole fonts -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,600%7CFira+Sans:300,400,400i,600" rel="stylesheet">

    <!-- Material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../styles.css">
    <!-- Favicon -->
    <link rel="icon" href="../assets/img/icon.png" type="image/png">

    <!-- JS -->
    <script src="../assets/js/theme.js" defer></script>
</head>

<body>

    <header class="site-header fixed-top bg-black border-bottom bg-dark" id="header-box">
        <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
        <div class="container">

            <!-- Navbar -->
            <nav class="navbar main-nav navbar-expand-lg navbar-dark" aria-label="Main navigation">
                <a href="../index.html" class="navbar-brand d-inline-flex text-uppercase">Aaron Neme <i class="material-icons ml-2" aria-hidden="true">donut_large</i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-uppercase" id="navbarContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="about.html" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="testimonials.html" class="nav-link">Testimonials</a>
                        </li>
                        <li class="nav-item">
                            <a href="contact.html" class="nav-link">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main id="content">
        <div class="container py-6">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h1 class="display-4 mb-4">Sorry, this page does not yet exist...</h1>
                    <p class="lead text-secondary">Stay Tuned! We are working on bringing you this page soon!</p>
                </div>
            </div>
        </div>
    </main>

    <footer class="bg-white text-dark">
        <div class="container py-5 py-md-6">
            <div class="row justify-content-md-between">
                <div class="col-4 col-md-2">
                    <h2 class="h6">About</h2>
                    <ul class="nav flex-column">
                        <li class="mb-1"><a href="#" class="text-muted">Team</a></li>
                        <li class="mb-1"><a href="#" class="text-muted">Careers</a></li>
                        <li class="mb-1"><a href="#" class="text-muted">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-4 col-md-2">
                    <h2 class="h6 mb-3">Services</h2>
                    <ul class="nav flex-column">
                        <li class="mb-1"><a href="#" class="text-muted">Frontend</a></li>
                        <li class="mb-1"><a href="#" class="text-muted">Backend</a></li>
                        <li class="mb-1"><a href="#" class="text-muted">Fullstack</a></li>
                        <li class="mb-1"><a href="#" class="text-muted">Other</a></li>
                    </ul>
                </div>
                <div class="col-4 col-md-2">
                    <h2 class="h6 mb-3">Social</h2>
                    <ul class="nav flex-column">
                        <li class="mb-1"><a href="#" class="text-muted">Twitter</a></li>
                        <li class="mb-1"><a href="#" class="text-muted">Instagram</a></li>
                        <li class="mb-1"><a href="#" class="text-muted">Facebook</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-4 mt-4 mt-md-0">
                    <h2 class="h6 mb-3">Company</h2>
                    <p class="text-muted">AN Web Design - Website Development To Meet Your Technology Needs</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>

