<!doctype html>
<html lang="en">
<head>
    <title>About - Aaron Neme</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Goole fonts -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,600%7CFira+Sans:300,400,400i,600" rel="stylesheet">

    <!-- Material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/styles.css">
    <!-- Favicon -->
    <link rel="icon" href="img/icon.png" type="image/png">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="js/theme.js" defer></script>
</head>

<body>

    <header class="site-header fixed-top bg-black border-bottom bg-dark" id="header-box">
        <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
        <div class="container">

            <!-- Navbar -->
            <nav class="navbar main-nav navbar-expand-lg navbar-dark" aria-label="Main navigation">
                <a href="/" class="navbar-brand d-inline-flex text-uppercase">Aaron Neme <i class="material-icons ml-2" aria-hidden="true">donut_large</i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-uppercase" id="navbarContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="/about" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="/pnf-msg-01" class="nav-link">Testimonials</a>
                        </li>
                        <li class="nav-item">
                            <a href="/contact" class="nav-link">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main id="content">
        <div class="container py-6">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h1 class="display-4 mb-4">About Me</h1>
                    <hr class="border-1 border-light my-4 ml-0 text-left w-15" role="presentation">
                    <p class="lead text-secondary"></p>
                </div>
            </div>
        </div>
        <div class="bg-white text-black"> 
            <div class="container py-4 row" id="row-container">
                <div class="container py-4 col-sm-4">
                    <img src="img/aaronpiano.jpg" class="img-fluid mt-3 mb-2" alt="Man sitting in front of a piano with glasses smiling at camera">
                </div>
                <div class="container bg-white col-lg-5" id="text-container">    
                    <p>I'm a Full-stack Web Developer with a plethora of skills and knowledge in many different programming languages and frameworks. <br />I have an analytical mind and am adaptable to client requirements to deliver high-quality web applications and sites. <br />Me and those on my team will work to deliver beautiful products within reasonable deadlines.</p>
                    <br />
                    <p>Faith and family are a big part of my life and is what influences me in what I do and how I treat those I work with. <br />It guides me through difficulties and challenging situations.</p>
                    <br />
                    <p>The skills I have learned and the intelligence I have gained in my personal and professional development <br />are all in an effort to give back - creating websites and web frameworks that will help benefit those in need.</p>
                    <br />
                    <p>Review my skills and projects and if you like what you see, take advantage of my services. I look forward to applying my knowledge and skills to your project.</p>
                </div>
                <div class="container py=3 col-md-3" id="abt-aside">
                    <h3><strong>Technical Skills</strong></h3>
                    <h5>Front-End:</h5>
                    <p><em>HTML5, CSS3, Javascript, jQuery, Node.js, Angular.js, Angular 9, React, React Native, Vue.js, Bootstrap, SCSS</em></p>
                    <br />
                    <h5>Back-End:</h5>
                    <p><em>SQL, PostgreSQL, MySQL, MongoDB, Django with Python, REST API, Ruby on Rails, AJAX</em></p>
                    <br />
                    <h5>Miscellaneous Technologies:</h5>
                    <p><em>PHP, Typescript, C#, C++, Wordpress, Git Version Control, MVC Architecture, AWS, Heroku Deployment</em></p>
                </div>
            </div>
        </div>
    </main>

    <footer class="bg-white text-dark">
        <div class="container py-5 py-md-6">
            <div class="row justify-content-md-between">
                <div class="col-4 col-md-2">
                    <h2 class="h6">About</h2>
                    <ul class="nav flex-column">
                        <li class="mb-1"><a href="/pnf-msg-01" class="text-muted">Team</a></li>
                        <li class="mb-1"><a href="/pnf-msg-01" class="text-muted">Careers</a></li>
                        <li class="mb-1"><a href="/pnf-msg-01" class="text-muted">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-4 col-md-2">
                    <h2 class="h6 mb-3">Services</h2>
                    <ul class="nav flex-column">
                        <li class="mb-1"><a href="/pnf-msg-01" class="text-muted">Frontend</a></li>
                        <li class="mb-1"><a href="/pnf-msg-01" class="text-muted">Backend</a></li>
                        <li class="mb-1"><a href="/pnf-msg-01" class="text-muted">Fullstack</a></li>
                        <li class="mb-1"><a href="/pnf-msg-01" class="text-muted">Other</a></li>
                    </ul>
                </div>
                <div class="col-4 col-md-2">
                    <h2 class="h6 mb-3">Social</h2>
                    <ul class="nav flex-column">
                        <li class="mb-1"><a href="/pnf-msg-01" class="text-muted">Twitter</a></li>
                        <li class="mb-1"><a href="/pnf-msg-01" class="text-muted">Instagram</a></li>
                        <li class="mb-1"><a href="/pnf-msg-01" class="text-muted">Facebook</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-4 mt-4 mt-md-0">
                    <h2 class="h6 mb-3">Company</h2>
                    <p class="text-muted">AN Web Design - Website Development To Meet Your Technology Needs</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>

