
main {
    /*background-color: #242121;*/
    background-color: #1f120f;
}
#call-to-action {
    background: rgb(0,0,0);
    margin: 0 auto;
    color: whitesmoke;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(57,36,36,1) 100%);
}
#header-box {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(57,36,36,1) 100%);
}
#contact-btn {
    border-color: whitesmoke;
    color:  rgb(211, 200, 200);
}
#frontend-grab, #custom-grab {
    float: right;
}
#backend-grab {
    float: left;
}
#abt-aside {
    background-image: url("../img/int-blue-circuit.jpg");
    color: rgb(233, 231, 231);
}
.termsLink{
    text-decoration: underline;
}
.listingArea {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 75%;
  }

/*ViewPorts or Screensizes beyond Mobile*/
@media (min-width: 325px){
    #backend-grab {
        float: right;
    }
    /*Terms of Service Page*/
    #terms-container{
        width: 100%;
        font-size: 15px;
        text-align: center;
    }
}
@media (min-width: 990px){
    #terms-container {
        display: flex;
        width: 75%;
        font-size: 15px;
        text-align: justify;
        
        margin: 0 auto;
    }
}
@media (min-width: 1450px){
    .container {
        max-width: 100%;
    }
    footer {
        padding-left: 100px;
        padding-right: 100px;
    }
    #backend-section, #frontend-section, #custom-section {
        margin: 0 18em 0 18em;
    }
    
}